/* my colors from first assignment */
form{ color: #ffffff ;
    color: white;
     color: #cccccc ;
     color: #6ed3cf ;
    color: rgb(61, 61, 61);
    color: rgb(167, 167, 167);
     color: lightgray;
      color: #141414;
}

body{
    background-image: url(../images/folk-pattern.png)
}
/* Navbar Elements */
/* Name */
.navbar-brand{
    color:white !important;
    background-color:#6ed3cf;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 12px solid #6ed3cf;
    border-bottom: 12px solid #6ed3cf;
    margin: -12px 0;
}
.null-padding-x{
    padding-right: 0!important;
    padding-left: 0!important;
}
.nav-link{
    color: rgb(167, 167, 167) !important;
}
@media screen and (max-width: 767px){
.navbar-nav .nav-link {
    padding-left: 15px;
    }
}
.navbar{
    border-bottom: 2px solid lightgray;
}


/* Headers for Content */
h3{
    color: #6ed3cf;
    padding-bottom: 15px;
    border-bottom: 2px solid lightgray;
}
/* used to add top margins */
.top-buffer{
    margin-top:20px;
}
.content{
    background-color:white;
    border: solid 1px lightgray;
}
/* About Styling */
.me{
    width: 40%;
    height: auto;
}

@media screen and (max-width: 767px){
    .me{
        width: 100%;
        height: auto;
        padding-right: 0 !important;
    }
}

/* projects styling */
.proj-img{
    width: 600px;
    height: auto;
}
.proj-label{
    background-color:#6ed3cf;
    padding: 15px 0;
}
.carousel-caption{
    right:0% !important;
    left:0% !important;
    bottom:15%;
}
.project a{
    display:inline-flex;
    position: relative;
}
.project img{
    border: 1px solid lightgray;
}