/* my colors from first assignment */
form{ color: #ffffff ;
    color: white;
     color: #cccccc ;
     color: #6ed3cf ;
    color: rgb(61, 61, 61);
    color: rgb(167, 167, 167);
     color: lightgray;
      color: #141414;
}

body{
    background-image: url(../images/folk-pattern.png)
}
/* Name */
h1{
    color:white;
}
.navbar-brand, .navbar-light, .bg-light{
    color:white;
    background-color:#6ed3cf;
}
/* Headers for Content */
h3{
    color: #6ed3cf;
    padding-bottom: 15px;
    border-bottom: 3px solid lightgray;
}
/* used to add top margins */
.top-buffer{
    margin-top:20px;
}
.container{
    background-color:white;
    border: solid 1px lightgray;
}
/* About Styling */
.me{
    width: 40%;
    height: auto;
}

@media screen and (max-width: 767px){
    .me{
        width: 100%;
        height: auto;
        padding-right: 0 !important;
    }
}

/* projects styling */
.proj-img{
    width: 600px;
    height: auto;
}
.proj-label{
    background-color:#6ed3cf;
    padding: 15px 0;
}
.carousel-caption{
    right:0% !important;
    left:0% !important;
    bottom:15%;
}
.project a{
    display:inline-flex;
    position: relative;
}
.project img{
    border: 1px solid lightgray;
}